<!DOCTYPE HTML>
<html>
	<head>
		<title>Kansagra Family</title>
		
		<meta name="viewport" content="width=1200,user-scalable=no" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<script src="/../../static/js/jquery.min.js"></script>
		<script src="/../../static/js/jquery.poptrox.min.js"></script>
		<script src="/../../static/js/skel.min.js"></script>
		<script src="/../../static/js/init.js"></script>
		
		<noscript>
			<link rel="stylesheet" href="/../../static/css/skel.css" />
			<link rel="stylesheet" href="/../../static/css/style.css" />
			<link rel="stylesheet" href="/../../static/css/style-desktop.css" />
			<link rel="stylesheet" href="/../../static/css/style-noscript.css" />
		</noscript>
	
	</head>
	<body>

		<div id="wrapper">

			<div id="main">
				<div id="reel">

					<!-- Header Item -->
					
						<div id="header" class="item" data-width="400">
							<div class="inner">
								<h1>Kansagra</h1>
								<p>A quick way to better understand<br />
								the massive family!</p>
							</div>
						</div>
					
					<!-- Thumb Items -->
					{% for f in familyInfo %}
						<article class="item thumb" data-width="230">
							<h2>{{ f.name }}</h2>
								{% if f.userId %}
									<a href="http://graph.facebook.com/{{ f.userId }}"><img src="http://graph.facebook.com/{{ f.userId }}/picture?width=230&height=230" alt=""></a>
								{% else %}
									<a href="#"><img src="{{ f.image }}" alt=""></a>
								{% endif %}
						</article>
					{% endfor %}
				</div>
			</div>
		
			<div id="footer">
				<div class="left">
					<ul class="contact">
						<li><a href="#" class="icon fa-tree"><span class="label">Tree</span></a></li>
						<li><a href="#" class="icon fa-image"><span class="label">Images</span></a></li>
						<li><a href="#" class="icon fa-play"><span class="label">Videos</span></a></li>
						<li><a href="mailto:jaykansagra@gmail.com?Subject=Kansagra%20Website" target="_top" class="icon fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="right">
					<ul class="copyright">
						<li><a href="#">Kansagra Family</a></li>
					</ul>
				</div>
			</div>

		</div>

	</body>
</html>